body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1256px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u89 {
  position:absolute;
  left:60px;
  top:148px;
  width:209px;
  height:18px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:12px;
}
#u91 {
  position:absolute;
  left:44px;
  top:185px;
  width:829px;
  height:1px;
}
#u92 {
  position:absolute;
  left:2px;
  top:-8px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u93 {
  position:absolute;
  left:75px;
  top:216px;
  width:216px;
  height:119px;
  font-size:18px;
}
#u94 {
  position:absolute;
  left:2px;
  top:48px;
  width:212px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u95 {
  position:absolute;
  left:75px;
  top:384px;
  width:216px;
  height:119px;
  font-size:18px;
}
#u96 {
  position:absolute;
  left:2px;
  top:48px;
  width:212px;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u97 {
  position:absolute;
  left:351px;
  top:216px;
  width:216px;
  height:119px;
  font-size:18px;
}
#u98 {
  position:absolute;
  left:2px;
  top:48px;
  width:212px;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u99 {
  position:absolute;
  left:637px;
  top:216px;
  width:216px;
  height:119px;
  font-size:18px;
}
#u100 {
  position:absolute;
  left:2px;
  top:48px;
  width:212px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u101 {
  position:absolute;
  left:60px;
  top:148px;
  width:209px;
  height:18px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:12px;
}
#u103 {
  position:absolute;
  left:44px;
  top:185px;
  width:829px;
  height:1px;
}
#u104 {
  position:absolute;
  left:2px;
  top:-8px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u105 {
  position:absolute;
  left:75px;
  top:216px;
  width:216px;
  height:119px;
  font-size:18px;
}
#u106 {
  position:absolute;
  left:2px;
  top:48px;
  width:212px;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u107 {
  position:absolute;
  left:75px;
  top:384px;
  width:216px;
  height:119px;
  font-size:18px;
}
#u108 {
  position:absolute;
  left:2px;
  top:48px;
  width:212px;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u109 {
  position:absolute;
  left:351px;
  top:216px;
  width:216px;
  height:119px;
  font-size:18px;
}
#u110 {
  position:absolute;
  left:2px;
  top:48px;
  width:212px;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u111 {
  position:absolute;
  left:637px;
  top:216px;
  width:216px;
  height:119px;
  font-size:18px;
}
#u112 {
  position:absolute;
  left:2px;
  top:48px;
  width:212px;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  position:absolute;
  left:1082px;
  top:55px;
  width:174px;
  height:70px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u115 {
  position:absolute;
  left:245px;
  top:620px;
  width:465px;
  height:312px;
}
#u116 {
  position:absolute;
  left:2px;
  top:148px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:center;
}
#u117 {
  position:absolute;
  left:245px;
  top:620px;
  width:465px;
  height:51px;
  font-size:28px;
  text-align:center;
}
#u118 {
  position:absolute;
  left:0px;
  top:9px;
  width:465px;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u119 {
  position:absolute;
  left:326px;
  top:707px;
  width:61px;
  height:23px;
  font-size:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u121 {
  position:absolute;
  left:410px;
  top:707px;
  width:135px;
  height:23px;
  font-size:20px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u123 {
  position:absolute;
  left:326px;
  top:740px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u125 {
  position:absolute;
  left:326px;
  top:773px;
  width:136px;
  height:23px;
  font-size:20px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u127 {
  position:absolute;
  left:326px;
  top:839px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u129 {
  position:absolute;
  left:326px;
  top:806px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:410px;
  top:738px;
  width:222px;
  height:25px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u132 {
  position:absolute;
  left:462px;
  top:773px;
  width:170px;
  height:23px;
}
#u132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u133 {
  position:absolute;
  left:417px;
  top:806px;
  width:215px;
  height:23px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u134 {
  position:absolute;
  left:417px;
  top:839px;
  width:215px;
  height:23px;
}
#u134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u135 {
  position:absolute;
  left:410px;
  top:887px;
  width:140px;
  height:25px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u136_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:677px;
}
#u136 {
  position:absolute;
  left:946px;
  top:89px;
  width:2px;
  height:674px;
}
#u137 {
  position:absolute;
  left:2px;
  top:329px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:231px;
  height:5px;
}
#u138 {
  position:absolute;
  left:720px;
  top:762px;
  width:228px;
  height:2px;
}
#u139 {
  position:absolute;
  left:2px;
  top:-7px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u140 {
  position:absolute;
  left:781px;
  top:780px;
  width:165px;
  height:35px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  position:absolute;
  left:376px;
  top:134px;
  width:116px;
  height:18px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u144_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:87px;
  height:5px;
}
#u144 {
  position:absolute;
  left:292px;
  top:144px;
  width:84px;
  height:2px;
}
#u145 {
  position:absolute;
  left:2px;
  top:-7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:53px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u146 {
  position:absolute;
  left:35px;
  top:61px;
  width:847px;
  height:53px;
  font-size:20px;
  text-align:left;
}
#u147 {
  position:absolute;
  left:2px;
  top:18px;
  width:843px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u148 {
  position:absolute;
  left:637px;
  top:79px;
  width:119px;
  height:18px;
  font-size:18px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:772px;
  top:69px;
  width:110px;
  height:40px;
}
#u150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background-color:#66CCFF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u150_input:disabled {
  color:grayText;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u151 {
  position:absolute;
  left:54px;
  top:76px;
  width:243px;
  height:18px;
  font-size:20px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u153_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u153 {
  position:absolute;
  left:882px;
  top:87px;
  width:200px;
  height:2px;
}
#u154 {
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:48px;
}
#u155 {
  position:absolute;
  left:290px;
  top:99px;
  width:2px;
  height:45px;
}
#u156 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
