body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:882px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:53px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u358 {
  position:absolute;
  left:35px;
  top:61px;
  width:847px;
  height:53px;
  font-size:20px;
  text-align:left;
}
#u359 {
  position:absolute;
  left:2px;
  top:18px;
  width:843px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u360 {
  position:absolute;
  left:637px;
  top:79px;
  width:119px;
  height:18px;
  font-size:18px;
}
#u361 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u362 {
  position:absolute;
  left:772px;
  top:69px;
  width:110px;
  height:40px;
}
#u362_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background-color:#66CCFF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u362_input:disabled {
  color:grayText;
}
#u363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u363 {
  position:absolute;
  left:60px;
  top:148px;
  width:177px;
  height:18px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u364 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:12px;
}
#u365 {
  position:absolute;
  left:44px;
  top:185px;
  width:829px;
  height:1px;
}
#u366 {
  position:absolute;
  left:2px;
  top:-8px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u367 {
  position:absolute;
  left:75px;
  top:216px;
  width:216px;
  height:119px;
  font-size:18px;
}
#u368 {
  position:absolute;
  left:2px;
  top:48px;
  width:212px;
  word-wrap:break-word;
}
#u369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u369 {
  position:absolute;
  left:75px;
  top:378px;
  width:216px;
  height:119px;
  font-size:18px;
}
#u370 {
  position:absolute;
  left:2px;
  top:48px;
  width:212px;
  word-wrap:break-word;
}
#u371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u371 {
  position:absolute;
  left:351px;
  top:216px;
  width:216px;
  height:119px;
  font-size:18px;
}
#u372 {
  position:absolute;
  left:2px;
  top:48px;
  width:212px;
  word-wrap:break-word;
}
#u373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:119px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u373 {
  position:absolute;
  left:637px;
  top:216px;
  width:216px;
  height:119px;
  font-size:18px;
}
#u374 {
  position:absolute;
  left:2px;
  top:48px;
  width:212px;
  word-wrap:break-word;
}
#u375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u375 {
  position:absolute;
  left:54px;
  top:76px;
  width:243px;
  height:18px;
  font-size:20px;
}
#u376 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u377 {
  position:absolute;
  left:389px;
  top:378px;
  width:116px;
  height:70px;
}
#u378 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
